/*------------------------------ Jobs ------------------------------ */
.jobsContainer {
	display: flex;
	flex: 1;
	background: url(../images/fond.jpg);
	overflow-x: auto;
	
	padding: 10px;
	align-items: center;	
}

.checkBoxDiv{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -17px;
	border-radius: 50%;
}



.jobTransportCheckbox{
	width:30px;
	height:30px;
}


.job {
	margin: 10px;
	height: 95%;
	width: 260px;
	border: 1px solid black;
	border-radius: 20px;
	
	border: 1px solid var(--orange);
	background-color: #455f78;
	color: var(--orange);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
	
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	position: relative;
}

.titleJob {
	font-size: 2.2em;
	padding-right: 20px;
	text-align: right;
	margin-top: 7px;
	width: 240px;
}

.selectContainer {
	display: flex;
	flex-direction: column;
}

.selectContainer button {
	background-color: var(--orange);
	border: 1px solid white;
	border-radius: 5px;
	margin: 1px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	padding: 3px;
	cursor: pointer;
}

.selectMinerai {
	background-color: var(--color-acc2);
	border: 1px solid var(--orange);
	border-radius: 5px;
	margin: 1px;

	font-size: 13px;
	letter-spacing: 1px;
	color: white;
	padding: 3px;
}

.mineraisContainer {
	height: 50%;
	display: flex;
	flex-direction: column;
}

.mineraisJob {
	height: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: auto;
	color: var(--color-acc);
}

.listeMinerais, .listeQuantites {
	height: 85%;
	width: 48%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.separate {
	background-color: black;
	width: 0.1rem;
	height: 90%;
	border-radius: 1px;
}

.listeMinerais label, .listeQuantites label {
	font-size: 18px;
	margin-bottom: 10px;
}

.tabCat {
	border: 1px solid var(--orange);
	border-radius: 5px;
	text-align: center;
	font-size: 1.2em;
	position: relative;
	box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
	color: var(--color-acc);
	background-color: var(--color-acc2);
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
	overflow: hidden;
}

.btnsContainer {
	height: 50px;
}
.listeQuantites input{
	width: 90%;
	margin-bottom: 9px;
	font-family: var(--police);
	font-size: 18px;
	margin-top: -4px;
	background-color: transparent;
	color: white;
	border: 0;
	border-bottom: 2px solid var(--orange);
}

.listeQuantites input:focus {
	outline: none;
}

.btnsContainer button{
	position: absolute;
	bottom: 0;
	height: 35px;
	width: 45%;
	border: 0;
	background-color: var(--orange);
	color: white;
	font-size: 16px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
}


.btnSupprimer, .btnCancel {
	left: 0;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 10px;
}

.btnModif, .btnConfirm{
	right: 0;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 10px;
}

.emplacementContainer .tabCat {
	display: flex;
	justify-content: center;
}

.emplacementContainer select {
	background-color: var(--color-acc2);
	border: none;
	border-radius: 5px;
	margin: 1px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1px;
	color: white;
	padding: 3px;
}

.tempsContainer .tabCat {
	display: flex;
	justify-content: space-evenly;
}

.tempsContainer input {
	font-size: 18px;
	width: 100px;
	background-color: transparent;
	color: white;
	border: 0;
	border-bottom: 2px solid var(--orange);
}

label.heurePlace {
	position: relative;
	z-index: 2;
}

.tProgress {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: none;
	background-color: rgba(246, 230, 0, 0.85);
}

.tFinish{
	width:100%; 
	background-color:#05c14ea3;
	border-radius: 5px;
}

.shadowChecked{
	box-shadow: 0px 0px 5px 4px rgba(65, 105, 225, 1);
}