/*------------------------------ SideBar ------------------------------ */
.sideBar {
	width: 400px;
	background-color: #131b25;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-right: 1px solid var(--orange);
	padding: 9px;
}
.tabStyle {
	padding: 6px;
	border-radius: 6px;
	border: 1px solid var(--orange);
	background-color: #455f78;
	box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

/* Tableau des Selections */
/* .tabSelectedMineraisCont {
	display: flex;
	padding: 5px;
	flex-direction: column;
	font-size: 1.2em;
	
	color: var(--orange);
}

.tabSelectedMinerais {
	overflow: auto;
	display: flex;
	flex-direction: column;
	height: 200px;
}

.tabSelectedMineraisTable th{
	font-size: medium;
	text-align: center;
	border-left: solid black 1px;
	border-right: solid black 1px;

}
.tabSelectedMineraisTable td{
	margin-left: 5px;
	border-top: 2px solid black;
}*/
.pourcentageMainCont ,.pourcentageTotalMainCont{
	height: 10px;
	border: 1px solid black;
	border-radius: 5px;
	
}
.pourcentagecont {
	height: 100%;
	float: left;
} 
/* --------
/* Tableau des minerais */
.tabMineraisCont {
	display: flex;
	padding: 10px;
	flex-direction: column;
	font-size: 1.4em;
	
	color: var(--orange);
}

.tabMinerais {
	overflow: auto;
	display: flex;
	flex-direction: column;
	height: 200px;
}
.tabMineraisTable th{
	font-size: medium;
	text-align: center;
	border-left: solid black 1px;
	border-right: solid black 1px;

}
.tabMineraisTable td{
	margin-left: 5px;
	border-top: 2px solid black;
} 

/* Tableau de total  */
.tabTotalCont {
	border: 1px solid var(--orange);
	border-radius: 20px;
	text-align: center;
	padding: 10px;
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
	color: var(--orange);
	background-color: #455f78;
}

.tabTotal {
	
	display: flex;
	flex-direction: column;
	min-height: 100px;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
}

.tabTotalCont select {
	margin: 10px;
}



/* Bouton d'ajout de Job */
.addJobCont , .transportJobsCont{
	display: flex;
	
}
.addJobCont button , .transportJobsCont button{
	width: 100%;
	height: 35px;
	
	background-color: var(--orange);
	border: 0;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	outline: 1px solid white;
	margin: 5px;
}