/*------------------------------ SideBar ------------------------------ */
.sideBar {
	width: 55vh;
	background-color: #131b25;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-right: 1px solid var(--blue2);
	padding: 9px;
	font-family: var(--police-2);
	overflow: auto;
}

.tabStyleCont {
	display: flex;
	padding: 10px;
	flex-direction: column;
	font-size: 1.8em;
	
	color: var(--orange);
	text-shadow: var(--shadow-text)
}

.tabStyle {
	padding: 6px;
	border-radius: 6px;
	border: 1px solid var(--orange);
	background-color: #455f78;
	box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);

	max-height: 20vh;
	overflow: hidden;
	overflow-y: auto;
}

.tableMineraisStyle {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.tableMineraisStyle th{
	font-size: medium;
	text-align: center;
	border-left: solid black 1px;
	border-right: solid black 1px;
	font-size: 20px;
}
.tableMineraisStyle td{
	margin-left: 5px;
	border-top: 2px solid black;
} 

.tabTotal {
	display: flex;
	flex-direction: column;
	height: 70px;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
}

/* Bouton d'ajout de Job */
.btnsSideCont{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}
.pourcentageMainCont,.pourcentageTotalMainCont{
	height: 10px;
	margin-top: 2px;
	overflow: hidden;
}
.pourcentagecont{
	float: left;
	height: 100%;
}
.addJobBtn , .transportJobsBtn {
	width: 100%;
	height: 35px;
	max-width: 370px;


	background-color: var(--orange);
	border: 0;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	/* outline: 1px solid white; */
	margin-bottom: 15px;
}