/*------------------------------ ToolBar ------------------------------ */
.toolBar {
	height: 80px;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
	background-color: var(--blue1);
	display: flex;
	color: var(--orange);
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--orange);
	font-family: var(--police-2);
}

.toolBar .left, .toolBar .right {
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.toolBar .left {
	font-size: 3.3em;
}
.toolBar .left span{
	color: white;
}

.toolBar .center {
	height: 75%;
	border-radius: 50%;
}

.toolBar .center img {
	box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	height: 100%;
}

.toolBar .right {
	color: var(--blue3);
}

.spacer {
	width: 0px;
}

.customSelectContainer {
	display: flex;
	align-items: center;
	position: relative;
	font-size: 1.4em;
}

.customSelectContainer > div {
	display: flex;
	margin-left: 7px;
	position: relative;
}

.customSelect {
	background-color: var(--blue1);
	outline: 1px solid var(--blue3);
	border: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	width: 120px;
	height: 23px;
	/* padding: 5px; */
	color: var(--orange);
	font-family: var(--police);
	font-size: 16px;
	font-weight: 500;

	position: relative;
	display: flex;
	align-items: center;
	/* outline: 0; */
}

.xSelectCont {
	outline: 1px solid var(--blue3);
	border-left: 0;
	height: 25px;
	font-size: 12px;
	
	display: flex;
	align-items: center;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.xSelect {
	position: relative;
	cursor: pointer;
	font-size: 21px;
	padding-left: 7px;
	padding-right: 7px;
	border-left: 1px solid var(--blue3);
}

.xSelect:hover, .customSelect:focus-within {
	color: var(--orange);
}

.customSelect:focus {
	border-bottom-left-radius: 0px;
}
.customSelect:focus ~ .xSelectCont {
	border-bottom-right-radius: 0px;
}


.customFilterData > div {
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.customFilterData{
	position: absolute;
	height: 250px;
	overflow-y: auto;
    z-index: 1;
	top: 100%;
	right: 0px;
	width: 100%;

	text-align: center;
	background-color: var(--blue2);
	color: var(--orange);
	color: whitesmoke;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
	font-family: var(--police);
	font-size: 0.8em;
	outline: 1px solid var(--blue3);
}
.customFilterData  ul{
	list-style-type: none;
	padding: 0;
	padding-bottom: 10px;
	padding-top: 5px;
	margin: 0;
	width: 100%;
}
.customFilterData ul > li:hover{
	color: var(--orange);
	cursor: pointer;
}
.customFilterData label{
	font-weight: bolder;
	text-decoration: underline;
	width: 100%;
	
}

.customOptions {
	position: absolute;
	top: 33px;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	width: 140px;
	/* max-height: 170px; */
	overflow: auto;
	color: white;
	border-radius: 10px;
	padding: 5px;
	z-index: 2;
}

.customOptions option {
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.customOptions label:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.pseudoCont {
	cursor: pointer;
	position: relative;
	outline: 1px solid var(--blue3);
	height: 15px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 4px;
}

.pseudoCont label {
	cursor: pointer;
	min-width: 110px;
	font-family: var(--police-2);
	font-size: 20px;
	font-weight: 500;
	
}

.arrowPseudo {
	height: 60%;
}

.pseudoCont:hover .pseudoMenu {
	display: flex;
	
}

.pseudoCont:hover {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.pseudoMenu {
	position: absolute;
	right: 0px;
	top: 100%;
	display: none;
	background: var(--blue2);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 5;
	color: whitesmoke;
	width: 100%;
	outline: 1px solid var(--blue3);
	
}

.pseudoMenu > div {
	padding: 10px;
	display: flex;
	flex-direction: column;
	
}

.pseudoMenu label {
	color: whitesmoke;

}

.pseudoMenu label:hover {
	color: var(--orange);
}
