html{
	margin:0;
	padding:0;
	background: url("./images/bck.png") no-repeat center fixed;
	background-size:cover;
}

table{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid black;
	font-size:larger;
}
td,th{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-left: 3px;
	padding-right: 3px;
}

th {
	position: relative;
}

#minerai{
	font-weight: bold;
}
#imgAppli{
	height: 100%;
	width: 100%;
	margin-bottom: 15%;
	padding-bottom: 1%;
}
#imgAppli>img{
	height: 50%;
	width: 50%;
}
#divindex{
	margin-top:25px;
	text-align:center;
	background-color: rgba(255, 255, 255, 0.7);
}
footer{
	background-color: rgba(255, 255, 255, 0.7);
	text-align:center;
	position:fixed;
	bottom:0;
	width:100%;
}

.hide{
	display: none;
}

.suppbtn {
	position: absolute;
	right: 0;
	top: 0;
	height: 16px;
	width: 15px;
	border: 0;
	font-size: 0.5em;
	color: red;
	background-color: rgba(119, 119, 119, 0.5);
	border-bottom-left-radius: 5px;
	cursor: pointer;
	text-shadow: 0px 0px 5px white;
}

td input[type="number"] {
	background-color: rgba(255, 255, 255, 0.7);
	height: 25px;
	width: 100px;
	text-align: center;
}