@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap');

:root {
    --police-connexion: 'Titillium Web', sans-serif;
}

.hide{
	display: none;
}

.display {
    display: flex;
}

.connexionContainer {
	display: flex;
	justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    

    background-color: rgba(0, 0, 0, 0.6);

    transition: opacity 0.5s, visibility 0.5s;
}

.connect-hidden {
    opacity: 0;
    visibility: collapse;
}

.connexionContainer form {
    background-color: rgba(255, 255, 255, 1);
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
	width: 250px;
    height: fit-content;
    position: relative;

	display: flex;
	flex-direction: column;
	font-family: var(--police-connexion);
    padding-bottom: 60px;

    
}

.titleConnexion {
	font-size: 1.3em;
	/* margin-bottom: 10px; */
}

.connexionContainer input[type="text"], .connexionContainer input[type="password"] {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    height: 20px;
    padding: 10px;
    font-size: 0.9em;
    font-family: var(--police-connexion);
    font-weight: 500;
    
}

#submit {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 140px;
    height: 33px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    background-color: var(--orange);

    font-family: var(--police-connexion);
    font-size: 1em;
    font-weight: 600;
    color: hsla(0, 0%, 96%, 0.87);
    letter-spacing: 1px;
    
}
#submit:hover {
    cursor: pointer;
    background-color: var(--orange);
}

.addLog {
    padding: 8px;
    margin: 5px;
    width: fit-content;
    text-align: center;
    background-color: rgba(0, 204, 68, 0.356);
    color: green;
}

.btnCreate {
    width: 60px;
    border: none;
    background-color: rgba(0, 204, 68, 0.6);
    border: 1px solid black;
    cursor: pointer;
}

.yesAdd {
    color: green;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.noAdd {
    color: rgba(212, 0, 0, 0.911);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 10px;
}

.mdpError {
    background-color: rgb(209, 0, 0, 0.2);
    padding: 5px;
    margin: 5px;
    color: rgb(197, 0, 0);
    text-align: center;
}

.mdpWarn {
    font-size: 0.7em;
    margin-bottom: 10px;
}

