@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap');

/*------------------------------ Général ------------------------------ */
:root {
	/* C'est temporaire, on en choisira une belle ensemble, mais je supporte pas celle par défaut  */
	--police: 'Titillium Web', sans-serif;
}

/* * {
	 outline: red 1px solid; 
}*/

html {
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	font-family: var(--police);
}


/*------------------------------ ToolBar ------------------------------ */
.toolBar {
	height: 60px;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.toolBar .left, .toolBar .right {
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.toolBar .left {
	font-size: 1.4em;
}

.toolBar .center img, .toolBar .center {
	height: 98%;
	border-radius: 50%;
}

.toolBar .center img {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	
}

.customSelectContainer {
	display: flex;
	align-items: center;
	position: relative;
}

.customSelect {
	background-color: rgba(128, 128, 128, 0.5);
	margin: 5px;
	width: 130px;
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	outline: 1px solid black;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	margin-right: 0;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border: 0;
}


.arrowSelect {
	position: relative;
	font-size: 20px;
	left: -45px;
	bottom: 3px;
	
}

.xSelect {
	position: relative;
	color: #fc6b37;
	font-size: 0.9em;
	outline: 1px solid black;
	height: 26px;
	width: 20px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(128, 128, 128, 0.5);
	text-shadow: 0px 0px 10px white;
	cursor: pointer;


}
.xSelect:hover, .customSelect:focus-within {
	border: 1px solid #fc6b37;
	background-color: rgba(128, 128, 128, 0.7);
}

.customSelect:focus ~ .customOptions {
	display: initial;
}

.customOptions {
	position: absolute;
	top: 33px;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	width: 140px;
	/* max-height: 170px; */
	overflow: auto;
	color: white;
	border-radius: 10px;
	padding: 5px;
	z-index: 2;
}

.customOptions option {
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.customOptions label:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.pseudoCont {
	border: 1px solid black;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
}
.pseudoCont:hover {
	background-color: rgba(128, 128, 128, 0.7);
}

.pseudoCont:hover .pseudoMenu {
	display: flex;
}

.pseudoMenu {
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
	flex-direction: column;
	background: rgba(128, 128, 128, 0.7);
	padding: 10px;
	border-radius: 10px;
}

.pseudoMenu label:hover {
	color: white;
}

.pseudoCont label {
	cursor: pointer;
}

.arrowPseudo {
	position: relative;
	font-size: 20px;
	bottom: 3px;
	margin-left: 5px;
}

/*------------------------------ Page ------------------------------ */
.page {
	height: 100%;
	
	display: flex;
}

/*------------------------------ SideBar ------------------------------ */
.sideBar {
	width: 300px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-right: 2px solid black;
	padding: 10px;
}

/* Tableau des minerais */
.tabMineraisCont {
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
}

.tabMinerais {
	display: flex;
	flex-direction: column;
	height: 200px;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
}

/* Tableau de total  */
.tabTotalCont {
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
}

.tabTotal {
	display: flex;
	flex-direction: column;
	min-height: 100px;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
}

.tabTotalCont select {
	margin: 10px;
}

.chargeBarCont {
	height: 10px;
	border: 1px solid black;
	border-radius: 5px;
}
.chargeBar {
	height: 100%;
	width: 60%;
	background-color: royalblue;
}

/* Bouton d'ajout de Job */
.addJobCont , .transportJobsCont{
	display: flex;
	
}
.addJobCont button , .transportJobsCont button{
	width: 100%;
	height: 35px;
	
	background-color: #fc6b37;
	border: 0;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	border-radius: 10px;
	cursor: pointer;
}

/*------------------------------ Jobs ------------------------------ */
.jobsContainer {
	display: flex;
	flex: 1;
	
	overflow-x: auto;
	
	padding: 10px;
	align-items: center;
	
}

.checkBoxDiv{
	left: 0;
}

.jobTransportCheckbox{
	width:30px;
	height:30px;
}


.job {
	margin: 10px;
	height: 95%;
	width: 260px;
	border: 1px solid black;
	border-radius: 20px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
	
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	position: relative;
}

.titleJob {
	font-size: 2.2em;
	padding-right: 20px;
	text-align: right;
	margin-top: 7px;
	width: 240px;
}

.selectContainer {
	display: flex;
	flex-direction: column;
}

.mineraisContainer {
	height: 50%;
	display: flex;
	flex-direction: column;
}

.mineraisJob {
	height: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: auto;
}

.listeMinerais, .listeQuantites {
	height: 85%;
	width: 48%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.separate {
	background-color: black;
	width: 0.1rem;
	height: 90%;
	border-radius: 1px;
}

.listeMinerais label, .listeQuantites label {
	font-size: 1.1em;
	margin-bottom: 10px;
}

.tabCat {
	border: 1px solid black;
	text-align: center;
	font-size: 1.2em;
}

.btnsContainer {
	height: 50px;
}

.btnsContainer button{
	position: absolute;
	bottom: 0;
	height: 35px;
	width: 45%;
	border: 0;
	background-color: #fc6b36;
	color: white;
	font-size: 16px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
}


.btnSupprimer {
	left: 0;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 10px;
}

.btnModif, .btnConfirm{
	right: 0;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 10px;

}

/*------------------------------ Transport ------------------------------ */

.transportContainer {
	display: flex;
	justify-content: center;
	
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: rgba(0, 0, 0, 0.6);
}

.CancelButtonCont button ,.ValidateButtonCont button{
	width: 100%;
	height: 35px;
	background-color: #fc6b36;
	border: 0;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	font-weight: bold;
}


.transportButtons{
	/*border: 2px solid lime; /*TEMPORAIRE*/
	width: 25%;
	position: absolute;
	right: 5%;
	bottom: 10%;
}

.panierJob{
	border :2px solid black; 
	text-align: center;
	font-size: large;
	background-color: white;
	height: 80%;
	width: 20%;
}

.jobsResumeCont{
	/*border: 2px solid green; /*TEMPORAIRE*/
	height: 75%;
	margin-left: 5px;
	margin-right: 5px;
}
.vaisseauCont{
	overflow: hidden;
	/*border: 2px solid blue; /*TEMPORAIRE*/
	background-color: white;
	height: 80%;
	width: 70%;
}
.vaisseauContTitleCont{
	text-align: center;
}
.vaisseauxListCont{
	/*border: 2px solid pink; TEMPORAIRE*/
	width: 49%;
	font-size: larger;
	float: left;
}
.vaisseauxPhotoCont{
	/*border: 2px solid orange; TEMPORAIRE*/
	width: 49%;
	height: 49%;
	float: right;
}

.vaisseauxPhotoCont img{
	width: 100%;
	height: 100%;
}

.vaisseauContTitle{
	width: 100%;
	text-align: center;
	font-weight: bold;
}
.totalPanierCont{
	border: 2px solid black; 
	width: 90%;
	
	bottom: 0;
	margin: 5%;
}

/*---------------------Slider checkbox--------------------*/

.volumeLabel,.stayConnectedLabel{
	--width: 35px;
	--height:calc(var(--width)/2);
	--border-radius:calc(var(--height)/2);
	
	display: inline-block;
	cursor: pointer;	
}
.volumeCheckbox,.stayConnectedCheckbox{
	display: none;
}

.volumeContRemplissage , .stayConnectedContRemplissage{	
	float: right;
	position: relative;
	width: var(--width);
	height: var(--height);
	border-radius: var(--border-radius);
	background: #dddddd;
	transition: background 0.2s;
}
.volumeContRemplissage{
	top: 4px;
	margin-left: 5px;
	
}

.volumeCheckbox:checked ~ .volumeContRemplissage , .stayConnectedCheckbox:checked ~ .stayConnectedContRemplissage{
	background: #fc6b36;
}

.volumeContRemplissage::after , .stayConnectedContRemplissage::after{
	
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: var(--height);
	width: var(--height);
	background: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	border-radius: var(--border-radius);
	transition: transform 0.2s;
}
.volumeCheckbox:checked ~ .volumeContRemplissage::after , .stayConnectedCheckbox:checked ~  .stayConnectedContRemplissage::after{
	transform: translateX(var(--height));
}